@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700); */

.itemContainer:hover,
.playbtn {
  box-shadow: 0 5px 9px 0 #a8a8a8
}

.logo,
img {
  max-width: 100%
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

/* @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
} */

.parentDiv {
  margin-top: 3rem
}

.rowDiv {
  margin-bottom: 5rem
}

.kaleb-vids {
  margin-bottom: 15px
}

.kaleb-vids .Vimg {
  position: relative;
  height: 122px
}

.kaleb-vids .Vimg .nashh,
.kaleb-vids .Vimg .nashhh,
.kaleb-vids .Vimg .time {
  position: absolute;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  font-size: 14px;
  line-height: 14px
}

.kaleb-vids .Vimg .time {
  bottom: 0;
  right: 0;
  background-color: #373933;
  color: #fff;
  padding: 6px 9px 1px;
  font-weight: 500
}

.kaleb-vids .Vimg .nashh {
  top: 0;
  right: 0;
  background-color: #fbe631;
  color: #000;
  padding: 6px 9px 1px;
  font-weight: 500;
  z-index: 100
}

.kaleb-vids .Vimg .nashhh {
  top: 0;
  left: 0;
  background-color: #e42b3b;
  color: #fff;
  padding: 6px 9px 5px;
  z-index: 100;
  font-weight: 700;
  font-family: sans-serif
}

.descr,
.kaleb-vids .descr,
.subscription span>a,
.subscription-no span {
  font-family: "Hind Guntur", sans-serif
}

.kaleb-vids .Vimg img,
.kaleb-vids .Vimg video {
  width: 100%;
  height: 122px
}

.descr,
.kaleb-vids .descr {
  color: #343434;
  font-weight: 500;
  padding-top: 25px;
  font-size: 16px
}

.descr a,
.kaleb-vids .descr a {
  color: #2e2e2e;
  text-decoration: none
}

.descr,
.videoitem .kaleb-vids .descr {
  padding-top: 14px
}

.kaleb-vids .views,
.views {
  color: #7e7e7e;
  padding-top: 5px
}

.kaleb-vids .views .percent,
.views .percent {
  color: #444;
  display: inline-block;
  position: relative;
  padding-left: 19px
}

.kaleb-vids .views .percent .circle,
.views .percent .circle {
  border: 2px solid #fbe631;
  border-radius: 7px;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0
}

.logo {
  width: 120px
}

.hideOverflow:focus {
  color: #fbe631
}

.bg-image {
  background-color: snow
}

.navbar .nav-link {
  font-size: 14px;
  padding-left: 1em !important;
  padding-right: 1em !important;
  color: #fbe631 !important;
  font-weight: 300
}

.next.btn {
  width: 25px;
  height: 28px;
  padding: .1rem .2rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .4)
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
  background-color: transparent;
  color: #000;
  font-weight: 600;
  border-bottom: 2px solid #fbe631
}

.nav.nav-pills .nav-item {
  position: relative
}

.nav.nav-pills .nav-item>a {
  color: rgba(0, 0, 0, .7)
}

.col-6.subscribe {
  background-color: #fbe631 !important;
  color: #000 !important;
  text-align: center
}

.nav.nav-pills .nav-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  display: inline-block;
  background-color: #fbe631;
  height: 3px;
  width: 100%;
  left: 0;
  opacity: 0
}

.nav.nav-pills .nav-item:hover:before {
  opacity: 1
}

.bg-inverse {
  background-color: #000 !important
}

.navbar .nav-item.active {
  border-left: #444 3px solid
}

.navbar-inverse .navbar-nav .active>.nav-link,
.navbar-inverse .navbar-nav .nav-link.active,
.navbar-inverse .navbar-nav .nav-link.open,
.navbar-inverse .navbar-nav .open>.nav-link {
  color: #fbe631 !important;
  font-size: 1rem;
  font-weight: 900
}

@media(max-width:768px) {

  .kaleb-vids .Vimg img,
  .kaleb-vids .Vimg video {
    height: 100px
  }

  .kaleb-vids .Vimg {
    height: 102px
  }

  .kaleb-vids .Vimg .time {
    bottom: 0
  }

  .kaleb-vids .descr {
    margin-top: 0
  }
}

@media(max-width:600px) {

  .kaleb-vids .Vimg,
  .kaleb-vids .Vimg img,
  .kaleb-vids .Vimg video {
    height: 230px
  }

  .kaleb-vids {
    border: 2px solid #daffee
  }
}

.subscription {
  background-color: #fbe631;
  border-radius: 3px;
  height: auto;
  font-size: 80%;
  overflow: hidden
}

.subscription span>a {
  color: #fff;
  float: left;
  width: 5rem;
  padding-left: 5px;
  padding-top: 2.5px
}

.subscription-no {
  height: auto;
  font-size: 80%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .1)
}

.subscription-no span {
  color: #2e2e2e;
  float: left;
  width: auto;
  padding: 2px
}

.itemContainer {
  position: relative;
  background-color: #f8f8f9
}

.itemContainer:hover {
  border: 2px solid transparent
}

.play,
.playbtn {
  font-weight: 100 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  border: 0;
  cursor: pointer
}

.small,
small {
  font-size: 85%
}

.play {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  display: none;
  z-index: 3
}

.itemContainer:hover .play {
  display: block;
  color: #fff
}

.col-md-6 .itemContainer:hover .play {
  display: block;
  color: #000
}

.col-md-6 .itemContainer:hover .playbtn,
.itemContainer:hover .playbtn,
.playbtn {
  display: block;
  color: #fbe631
}

.dark-overlay {
  position: absolute;
  width: 100%;
  height: 25rem;
  background-color: rgba(0, 0, 0, .8)
}

.playbtn {
  -ms-transform: translate(-50%, -50%);
  font-size: 26px;
  z-index: 4
}

.channel-img {
  position: relative
}

.channel-img .ch-featured-img img {
  width: 100%;
  height: 10.125rem !important
}

.ch-logo-img {
  position: absolute;
  left: 100px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  bottom: -3.5rem;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, .8)
}

@media (min-width:320px) and (max-width:910px) {
  .ch-logo-img {
    position: absolute;
    left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    bottom: -3rem;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, .8)
  }
}

.dropdown-menu.poll {
  margin-left: -87px !important
}

.guetta {
  color: #6c6c8a !important;
  background-color: #5a0606;
  border-bottom: 1px solid
}

.ch-logo-img img {
  max-width: 100%;
  width: 100%;
  height: 100%
}

.ch-social-links {
  position: absolute;
  bottom: 0;
  right: 4rem;
  width: 10rem;
  height: 3rem;
  background-color: #f4f5f4;
  z-index: 2
}

.ch-social-links .social-icons-container .social-icon {
  padding-left: .5rem;
  padding-right: .5rem;
  align-self: center
}

.ch-social-links .social-icons-container .social-icon.gplus {
  color: #dd4b39
}

@media (min-width:320px) and (max-width:650px) {
  .visibile-sm-md {
    position: absolute;
    display: block !important;
    bottom: -1rem;
    right: .5rem;
    z-index: 2
  }

  .visibile-sm-md>a:not([href]):not([tabindex]) {
    color: #ea2c5a
  }

  .ch-social-links {
    padding-left: 2px;
    left: 134px
  }
}

.nash-vids .Vimg .time,
.thumb .Vimg .time {
  bottom: 0;
  line-height: 14px;
  font-weight: 500
}

.col-12 .frame-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%
}

.resp-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0
}

.col-lg-3 .chn-image-container {
  position: relative;
  max-width: 100% !important;
  display: block;
  cursor: pointer;
  border: 2px solid #eceff0
}

.col-lg-3 .chn-image-container.index {
  position: relative;
  max-width: 100% !important;
  display: flex;
  cursor: pointer;
  border: 2px solid transparent
}

.col-lg-3 .chn-image-container>img {
  width: 100% !important;
  height: 132px !important
}

.chn-image-container .small-logo {
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #fff;
  left: 50%;
  border-radius: 32px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.chn-image-container .small-logo.index {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 32px
}

@media (max-width:768px) {
  .chn-image-container .small-logo.index {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 70px
  }
}

.chn-image-container .small-logo>img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 91px;
  padding: 3px
}

.chan-descrip {
  background-color: snow
}

.chan-descrip .chan-title {
  display: block;
  color: #34347e;
  margin-bottom: 3px
}

.chan-descrip>span {
  display: block;
  color: #7e7e7e;
  margin-bottom: 3px
}

.navbar {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, .16), 0 10px 19px 10px rgba(0, 0, 0, .3);
  background-color: #000
}

.input-group-addon,
.nav-search {
  background-color: #fbe631
}

.navbar>ul {
  list-style-type: none !important
}

.nav-search {
  width: 90%;
  padding: .7rem .75rem;
  margin-top: 0 !important;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15)
}

.ethiov_logo img {
  width: 120px;
  height: 58px;
  margin-top: -7px
}

#sidenav {
  position: fixed;
  width: 15rem;
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  background-color: #fff;
  z-index: 1040;
  display: none;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

#sidenav.show {
  display: block
}

.navbar .d-inline-flex {
  height: 50px !important
}

.navbar.fixed-top .d-inline-flex {
  position: relative
}

.mobile_menu_close {
  width: 18px;
  height: 18px;
  border-left: solid 2px #637076;
  border-bottom: solid 2px #637076;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer
}

.mobile_search_menu {
  position: absolute;
  width: 100%;
  background-color: #fbe631;
  z-index: 1040
}

.close_icon {
  width: 1.5rem;
  height: 1.5rem
}

.i-circle {
  background: #fbe631;
  color: #111;
  padding: 4px 11px;
  border-radius: 50px;
  font-size: 25px;
  margin-top: 2px;
  margin-bottom: 0
}

.dropdown-toggle::after {
  border: 0 !important
}

@media (max-width:768px) {
  .i-circle {
    padding: 8px 11px;
    margin-top: -2px;
    font-size: 15px;
    margin-bottom: 6px
  }
}

@media (min-width:768px) {
  .fikir-vids .descr.bol.d-block.nash {
    display: none
  }
}

.form-group {
  margin-bottom: 30px
}

.form-control {
  margin-top: 5px !important
}

.dropdown {
  margin-top: auto !important;
  margin-bottom: auto !important
}

.dropdown>li>a {
  text-decoration: none !important;
  color: #000 !important
}

.cl-meta a:hover,
.cl-name-date a:hover {
  text-decoration: underline
}

.hideOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block
}

.hideOverflow .tooltiptext,
.live_chan_img_container .tooltiptext {
  width: 120px;
  background-color: #fbe631;
  color: #000;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px
}

.hideOverflow .tooltiptext {
  visibility: hidden
}

.hideOverflow:hover .tooltiptext {
  visibility: visible
}

.live_chan_img_container .tooltiptext {
  visibility: hidden
}

.live_chan_img_container:hover .tooltiptext {
  visibility: visible
}

.nash-vids .Vimg {
  border-radius: 2px;
  position: relative;
  min-width: fit-content;
  max-height: fit-content
}

.nash-vids .Vimg .time {
  position: absolute;
  right: 0;
  background-color: #373933;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 6px 9px 1px
}

.nash-vids .descr {
  color: #343434;
  font-weight: 500
}

.nash-vids .views {
  font-size: 15px;
  color: #7e7e7e;
  padding-bottom: 5px;
  padding-top: 5px
}

.nash-vids .percent {
  color: gray;
  display: inline-block;
  position: relative;
  padding-left: 19px
}

@media only screen and (min-width:768px) {
  .author .sv-views {
    margin: auto
  }
}

@media only screen and (max-width:768px) {
  .author .sv-views {
    text-align: end
  }
}

.nash-vids .percent .circle {
  border: 2px solid #fbe631;
  border-radius: 7px;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0
}

.nash-vids.last-row {
  padding-bottom: 0
}

.author {
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px 1px #d6d7d8;
  -moz-box-shadow: 0 2px 1px 1px #d6d7d8;
  box-shadow: 0 2px 1px 1px #d6d7d8
}

.author .sv-avatar {
  width: 72px;
  float: left
}

.author .sv-name {
  max-width: 8rem;
  width: fit-content;
  float: left;
  color: #7e7e7e
}

.author .sv-name a {
  font-weight: 500;
  color: #2e2e2e
}

.author .sv-name a:hover {
  color: #fbe631
}

.author .sv-name .c-sub {
  padding-top: 13px;
  float: left
}

.author .sv-name .c-sub .c-f {
  float: left;
  width: 86px;
  padding: 5px 10px 0;
  border: 1px solid #fbe631;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fbe631;
  color: #111
}

.author .sv-name .c-sub .c-s {
  float: left;
  width: 92px;
  padding: 5px 10px 0;
  border: 1px solid #eceff0;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #7e7e7e
}

.author .sv-views {
  float: right;
  text-align: end
}

.author .sv-views .sv-views-count {
  font-size: 20px;
  text-align: right
}

.author .sv-views .sv-views-progress {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 3px;
  width: 100%;
  background-color: #eceff0
}

.author .sv-views .sv-views-progress .sv-views-progress-bar {
  height: 3px;
  width: auto;
  background-color: #fbe631
}

.author .sv-views .sv-views-stats .percent {
  color: #fbe631;
  font-size: 15px;
  padding-right: 30px
}

.author-head {
  align-items: center;
  flex-wrap: wrap;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.author-head>a:first-child {
  margin-right: 20px
}

.author-head>* {
  margin-top: 7px;
  margin-bottom: 7px
}

.author-border {
  border-color: #424242;
  padding-top: 20px;
  margin: 20px -30px 0;
  border-top: solid 1px #eceff0
}

.adblock2 .img {
  height: 90px;
  text-align: center;
  padding: 0;
  background-color: #eceff0;
  border-radius: 3px;
  color: #a1a1a1;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

.thumb {
  margin-bottom: 15px
}

.thumb .Vimg {
  border-radius: 2px;
  position: relative
}

.thumb .Vimg .time {
  position: absolute;
  right: 0;
  background-color: #373933;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 6px 9px 1px
}

.thumb>col-lg-6 {
  width: 100px
}

.thumb .views {
  font-size: 15px;
  color: #7e7e7e;
  padding-bottom: 5px;
  padding-top: 5px
}

.thumb .percent {
  color: gray;
  display: inline-block;
  position: relative;
  padding-left: 19px
}

.thumb .percent .circle {
  border: 2px solid #fbe631;
  border-radius: 7px;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0
}

.thumb.last-row {
  padding-bottom: 0
}

.content-wrapper {
  margin: 29px
}

@media only screen and (min-width:768px) {
  .adblock2 .img {
    max-width: 728px;
    height: 90px
  }

  .video-mobile-02 .thumb [class^=col-]:last-child {
    margin-top: 25px
  }
}

.fikir-vids .percent,
.fikir-vids .v-percent {
  display: block;
  margin-top: 3px
}

@media only screen and (max-width:767px) {
  .video-mobile-02 .thumb [class^=col-]:last-child {
    padding-left: 0
  }

  .sv-video {
    width: 320px;
    height: 300px
  }

  .adblock2 .img {
    max-width: 320px;
    height: 50px
  }
}

.adblock2 .img {
  width: 100%
}

@media (min-width:68px) and (max-width:768px) {
  h1 {
    font-size: .8rem !important
  }
}

@media (min-width:768px) and (max-width:1365px) {

  .fikir-vids .videoitem img,
  .sv-video img {
    width: 100%
  }

  .fikir-vids .videoitem {
    margin-bottom: 30px
  }

  .reply-comment .rc-comment {
    width: 600px;
    width: 100%
  }

  .adblock .img,
  .adblock2 .img {
    width: 100%
  }
}

.reply-comment,
.reply-comment .rc-header {
  margin-bottom: 25px
}

.adblock2 {
  text-align: center;
  padding: 30px 0
}

.fikir-vids .views {
  padding-bottom: 0
}

.reply-comment {
  font-size: 17px
}

.reply-comment i {
  font-size: 20px
}

.reply-comment .semibold {
  font-weight: 600;
  padding-left: 5px
}

.v-desc>a {
  color: #2e2e2e !important
}

.reply-comment .rc-comment textarea {
  width: 100%;
  height: 108px;
  background-color: #fff;
  border: 1px solid #eceff0;
  border-radius: 3px;
  padding: 25px 30px;
  color: #7e7e7e
}

.reply-comment .rc-ava {
  margin-bottom: 10px;
  float: left;
  width: 70px;
  margin-right: 30px
}

.reply-comment .rc-comment {
  float: left;
  position: relative;
  width: 670px
}

.reply-comment .rc-comment button {
  position: absolute;
  bottom: 5px;
  right: 0;
  background: 0;
  border: 0;
  box-shadow: none;
  padding: 15px
}

.fikir-vids {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px #eceff0
}

.cl-comment,
.cl-comment-reply {
  margin-bottom: 45px
}

.fikir-vids .v-views {
  padding-bottom: 0
}

.cl-comment .cl-avatar {
  float: left;
  width: 13%;
  padding-right: 30px
}

.cl-comment .cl-comment-text {
  float: left;
  width: 87%
}

.cl-comment-reply {
  margin-left: 13%
}

.cl-comment-reply .cl-avatar {
  float: left;
  width: 15%;
  padding-right: 30px
}

.cl-comment-reply .cl-comment-text {
  float: left;
  width: 85%
}

.cl-name-date {
  color: #8e9ea6;
  font-size: 15px
}

.cl-name-date a {
  font-size: 16px;
  color: #fbe631
}

body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #676a6c
}

body,
html {
  height: initial
}

.cl-text {
  padding: 6px 0
}

.cl-meta,
.cl-meta a {
  color: #8e9ea6
}

.cl-meta .green {
  color: #28b47e;
  font-size: 15px;
  padding-right: 10px
}

.cl-meta .green .circle {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #28b47e
}

.cl-meta .grey {
  color: #7e7e7e;
  font-size: 15px
}

@media only screen and (max-width:767px) {
  .reply-comment .rc-comment textarea {
    padding: 10px 15px;
    width: 40%
  }

  .author-btn-add {
    width: 60px;
    min-width: 60px;
    height: 52px;
    margin-left: auto;
    border-radius: 30px;
    background-color: #fbe631;
    align-items: center;
    justify-content: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
  }

  .author-btn-add i {
    font-size: 22px
  }

  .author-btn-add i::before {
    color: #fff
  }

  .author-btn-add:hover i {
    color: #fff !important
  }

  .author .sv-views .sv-views-stats .green {
    color: #28b47e;
    font-size: 15px;
    padding-right: 30px
  }

  .author>a {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    display: inline-block
  }

  .author {
    padding: 15px 30px
  }

  .author .sv-views .sv-views-stats .green .circle {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #fbe631
  }

  .author .sv-views .sv-views-stats .grey {
    color: #7e7e7e;
    font-size: 15px
  }

  .info {
    margin-top: 25px
  }

  .info h4 {
    margin: 20px 0 3px;
    padding: 0;
    font-weight: 500;
    font-size: 16px
  }

  .info p {
    color: #7e7e7e
  }

  .info .sv-tags {
    margin-bottom: 0
  }

  .custom-tabs .tabs-panel {
    overflow: hidden;
    border-bottom: solid 1px #eceff0
  }
}

.label,
.label-status {
  background-color: #fbe651
}

.author .sv-views .sv-views-stats .grey .circle {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #7e7e7e
}

textarea {
  overflow: auto
}

img {
  height: auto
}

* {
  box-sizing: border-box
}

a {
  color: #d59541
}

.nashian {
  width: 200px !important;
  height: 200px !important
}

@media (min-width:500px) {
  .nashian {
    width: 300px !important;
    height: 250px !important
  }
}

@media (min-width:800px) {
  .nashian {
    width: 336px !important;
    height: 280px !important
  }
}

.nashians {
  width: 320px !important;
  height: 100px !important
}

@media (min-width:500px) {
  .nashians {
    width: 468px !important;
    height: 60px !important
  }
}

@media (min-width:800px) {
  .nashians {
    width: 728px !important;
    height: 90px !important
  }
}

.label-status {
  color: #111
}

.label {
  color: #5e5e5e;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none
}

.smallFont {
  margin-top: 7px;
  font-size: 12px !important;
  font-weight: 200
}
